@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800|Raleway:400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css?family=Radley&display=swap");

.home-title {
  font-family: "Raleway";
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  margin-top: 3rem;
}

.recipes-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .getRecipes {
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .recipe-img {
      width: 30rem;
      box-shadow: 13px 10px 33px -20px rgba(0, 0, 0, 0.75);
    }
    h2 {
      font-family: "Montserrat";
      font-weight: 600;
      font-size: 1.7rem;
      margin-top: 0.5rem;
      margin-bottom: 0.3rem;
    }
    p {
      margin: 0 0 0.1rem;
      font-family: "Radley";
    }
    .buttons-row {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      margin-top: 1rem;
      width: 70%;
      a {
        text-decoration: none;
        color: white;
        background: #3a7669;
        padding: 0.3rem 1.5rem;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
          background: #6dc0ae;
        }
      }

      .edit-button {
        color: white;
        background: #3a7669;
        padding: 0.3rem 1.9rem;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
          background: #6dc0ae;
        }
      }
      .delete-button {
        color: white;
        background: #96184c;
        padding: 0.3rem 1.5rem;
        border-radius: 8px;
        cursor: pointer;
        &:hover {
          background: #db4b87;
        }
      }
    }
  }
}

//modal
.ReactModalPortal {
  h2 {
    margin: 0 0 2rem 0;
  }

  .ReactModal__Overlay.ReactModal__Overlay--after-open {
    background-color: rgba(255, 255, 255, 0.37);
  }
  .ReactModal__Content {
    .modal-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        background: none;
        color: white;
        border: none;
        font-size: 1.4rem;
        margin-bottom: 1.8rem;
        cursor: pointer;
      }
    }
    .contact-inputs {
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        label {
          margin-bottom: 0.3rem;
          align-self: flex-start;
          margin-left: 1.5rem;
          font-weight: 700;
        }
        .text-area {
          width: 80%;
          margin-bottom: 2rem;
          border-radius: 2px;
        }
        .send-btn {
          width: 35%;
          height: 1.2rem;
          font-size: 0.8rem;
        }
        input {
          border-radius: 3px;
          margin-bottom: 1rem;
          margin-right: 5rem;
          margin-left: 5rem;
          width: 80%;
          height: 2.5vh;
        }
        #description {
          width: 80%;
          margin-bottom: 1rem;
        }
      }
    }
    font-family: "Montserrat";
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: "-50%";
    transition: "2s";
    background-color: rgb(58, 58, 58);
    color: white;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    animation-name: modalFade;
    animation-duration: 0.6s;

    @keyframes modalFade {
      from {
        transform: translate(-50%, -80%);
        opacity: 0;
      }
      to {
        transform: translateY(-10%, -10%);
        opacity: 1;
      }
    }
  }
}

//recipe page

.recipe-page {
  display: flex;
  flex-direction: column;
  align-items: center;

  .recipe-card {
    margin-bottom: 2rem;
    width: 65%;
    font-family: "Radley";
    h3 {
      font-size: 1.6rem;
    }
    p {
      font-size: 1.4rem;
    }
  }
  .ingrediant-card {
    display: flex;
    flex-direction: column;
    width: 35%;
    background-color: rgb(221, 221, 221);
    padding: 3rem;
    .ing-container {
      p {
        font-family: "Radley";
        font-size: 1.1rem;
      }
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      p.ing-quan {
        font-weight: bold;
      }
    }
  }
  .steps-card {
    display: flex;
    flex-direction: column;
    width: 65%;
    .steps-container {
      p {
        font-family: "Radley";
      }
      width: 80%;
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      p.step-num {
        font-weight: bold;
      }
    }
    margin-top: 3rem;
    margin-bottom: 5rem;
  }
}
